<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="ConsoleService.BrightnessNotificationService"
               behaviorConfiguration="mex">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8001/BrightnessNotificationService"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: net.tcp://localhost:8001/BrightnessNotificationService  -->
        <endpoint address=""
                  binding="netTcpBinding" bindingConfiguration="BindingCofig"
                  contract="ConsoleService.IBrightnessNotificationService" />
        <endpoint address ="mex"
                        binding="mexTcpBinding"
                        name="MEX"
                        contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="BindingCofig">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mex">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>